{% include "header.html" %}
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://t4.ftcdn.net/jpg/00/97/58/97/360_F_97589769_t45CqXyzjz0KXwoBZT9PRaWGHRk5hQqQ.jpg" alt="Cat">
      </div>
      <div class="col-lg-6 sticky_title">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Neirel N. Zapatos</h1>
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Portfolio</h1>
        <p class="lead">I miss her so much</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>
  <div class="my-5">
    <div class=" text-center bg-body-tertiary">
      <div class="container py-5">
        <h1 class="text-body-emphasis text-decoration-underline" id="project_text">Projects</h1>
        {% for project in project_list: %}
          <div class="container my-5">
            <div class="text-center bg-body-tertiary rounded-3">
              <h2 class="text-body-emphasis">{{ project.name }}</h2>
              <p class="lead">
                {{ project.description }}
              </p>
              <a href="{{ project.github_url }}">
                <button type="button" class="btn btn-secondary">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"></path>
                  </svg>
                </button>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>



{% include "footer.html" %}