{% include "header.html" %}
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://t4.ftcdn.net/jpg/00/97/58/97/360_F_97589769_t45CqXyzjz0KXwoBZT9PRaWGHRk5hQqQ.jpg" alt="Cat">
      </div>
      <div class="col-lg-6 sticky_title">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Neirel N. Zapatos</h1>
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Portfolio</h1>
        <p class="lead">I miss her so much</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
      </div>
    </div>
  </div>
  <div class="my-5">
    <div class=" text-center bg-body-tertiary">
      <div class="container py-5">
        <h1 class="text-body-emphasis text-decoration-underline" id="project_text">Projects</h1>
        {% for project in project_list: %}
          <div class="container my-5">
            <div class="text-center bg-body-tertiary rounded-3">
              <h2 class="text-body-emphasis">{{ project.name }}</h2>
              <p class="lead">
                {{ project.description }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>



{% include "footer.html" %}